<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

        <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title th:text="${title}">Welcome to the Kiteshop</title>
        
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    </head>
    <body>
         <form   method="post" style="max-width:600px;" th:object ="${account}">
            <div class="form-group">
                <label th:for="username">Username</label>
                <input class="form-control" th:field="*{username}" />
                <span th:errors="*{username}" class="error"></span>
            </div>
            <div class="form-group">
                <label th:for="password">Password</label>
                
                <input type="password" class="form-control" th:field="*{password}" />
                   <span th:errors="*{password}" class="error"></span>         
            </div>
            <input type="submit" value="Login as admin" />      
        </form>
    </body>
</html>
