<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

        <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title th:text="${title}">Welcome to the Kiteshop</title>
        
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/home/index" th:text="${welcome}">default
                        title</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/"><span class="glyphicon glyphicon-home"></span>
                            Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/products/productsForAdmin">View our products</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login/logout"><span
                                class="glyphicon glyphicon-log-in"></span> Log out</a></li>
                </ul>
            </div>
        </nav>



        <img
            th:src="@{http://www.f-onekites.com/Home/103/Team/Rider/F_ONEkites_camille_delannoy_action_0.jpg}" />

        <p th:unless="${products} and ${products.size()}">No productss</p>
        
        <div class="form-group">
            <form method="get" action="/admin/addProduct" style="max-width:600px;" th:object="${product}">
             
                <label th:for="addproduct">Add a new product to the catalogue</label>
            
            <input type="submit" value="new product" />
        </form>
        </div>

        <div th:each="product : ${products}" th:object="${product}">
            <h3 th:text="*{naam}"></h3>
            <h3 th:text="*{prijs}"></h3>
            <form method="post">
                <input type="hidden" th:value="*{productID}" name="productID" /> <br />
                <!-- It works -->

                <input type="submit" value="Product wijzigen" />
            </form>
        </div>


    </body>
</html>
