<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title th:text="${title}">Welcome to the Kiteshop</title>
<title th:text="${titleIsTheTitleWeGive}">Welcome to the
	Kiteshop</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>

	
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/home/index" th:text="${welcome}">default title</a>
                </div>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/home/index"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/products/productList">View our products</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/bestelling/winkelmand"><span class="glyphicon glyphicon-shopping-cart"></span> Check your basket</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/klanten/addAccount"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav> 

	<br></br>
	<br></br>
	<br></br>


	<div style="width: 600px; margin: 0 auto;">

		<h3>Persoonsgegevens</h3>
		<p
			th:text="${klant.voornaam+' '+klant.tussenvoegsel+' '+klant.achternaam}"></p>
		<p
			th:text="${klant.bezoekAdres.straatnaam+' '+klant.bezoekAdres.huisnummer}"></p>
		<p
			th:text="${klant.bezoekAdres.postcode+' '+klant.bezoekAdres.woonplaats}"></p>
	</div>
	
	<br></br>
	
	<div style="width: 600px; margin: 0 auto;">

		<h3>Totaalprijs bestelling</h3>
		<p
			th:text="${bestelling.totaalprijs}"></p>
		
	</div>
	
	<br></br>
	
		
	<div style="width: 600px; margin: 0 auto;">

		<h3>Vul creditcard nummer in</h3>
		<form method="post" style="max-width: 600px;" th:object="${bestelling}">


		<input field="creditcardNumber" /> <input type="submit"
			value="Betaal" />


	</form>
		
	</div>
	
</body>
</html>
