<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>


	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/home/index" th:text="${welcome}">default
					title</a>
			</div>
			<ul class="nav navbar-nav navbar-left">
				<li><a href="/home/index"><span
						class="glyphicon glyphicon-home"></span> Home</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-left">
				<li><a href="/products/productList">View our products</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-left">
				<li><a href="/bestelling/winkelmand"><span
						class="glyphicon glyphicon-shopping-cart"></span> Check your
						basket</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/klanten/addAccount"><span
						class="glyphicon glyphicon-user"></span> Sign Up</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/login"><span
						class="glyphicon glyphicon-log-in"></span> Login</a></li>
			</ul>
		</div>
	</nav>

	<br></br>
	<br></br>
	<br></br>


	<div style="width: 600px; margin: 0 auto;">

		<h3>Bedankt voor uw aankoop!</h3>
		<p>Uw bestelling is in behandelin genomen, u krijgt bericht zodra
			us bestelling is verzonden</p>

		<br></br> <br></br>

	</div>

	<br></br>

	<div style="width: 600px; margin: 0 auto;">
		<a href="/home/index">Klik hier om terug te gaan naar de hoofdpagina</a>

	</div>

</body>
</html>
