<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"/>
        <title th:text="${titleIsTheTitleWeGive}">Welcome to the Kiteshop</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
    <body>
        <nav class="navbar navbar-inverse" >
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/home/index" th:text="${welcome}">default title</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/home/index">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/products/productList">View our products</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Check your basket</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/klanten/registreer"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/home/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav> 
        <br>
        <img th:src = "@{http://www.f-onekites.com/Home/103/Team/Rider/F_ONEkites_camille_delannoy_action_0.jpg}"/>
        </br>
        <p th:unless="${products} and ${products.size()}">No products</p>
        <br>
            <table class="table">

                <tr>
                    <th>Select</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>In Stock</th>
                </tr>   
                <tr th:each="product : ${products}">
                 <td><input type="checkbox" th:value="${product.productID}"/></td>   
                <td th:text="${product.naam}"/>
                <td th:text="${product.prijs}"/>
                <td th:text="${product.voorraad}"/>

            </tr>
            
        </table>
        </br>
        
</body>
</html>
