<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"/>
        <title th:text="${titleIsTheTitleWeGive}">Welcome to the Kiteshop</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
   
    <body class="container">
        <h1 th:text="${title}">Default Title</h1>



        <form method="post" style="max-width:600px;" th:object="${account}">
         <div class="form-group">
                <label th:for="username">Username</label>
                <input class="form-control" th:field="*{username}" />
                <span th:errors="*{username}" class="error"></span>
                <span th:if="${error}" th:text="${error}" style="color:red"></span>
            </div>
            <div class="form-group">
                <label th:for="password">Password</label>
                <input type="password" class="form-control" th:field="*{password}" />
                <span th:errors="*{password}" class="error"></span>
            </div>
        

            <input type="submit" value="Save and continue" />
           
        </form>

    </body>
</html>