<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><title th:text="${title}">Welcome to the Kiteshop</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home/index">Kiteshop</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home/index">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/products/productList">Products <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
        <img th:src="@{http://www.f-onekites.com/Home/103/Team/Rider/F_ONE_team_rider_mitu_monteiro_0.jpg}" /> 
<h1 th:text="${title}">U bent hier om inb te loggen</h1>


        <form   method="post" style="max-width:600px;" th:object ="${account}">
            <div class="form-group">
                <label th:for="username">Username</label>
                <input class="form-control" th:field="*{username}" />
                <span th:errors="*{username}" class="error"></span>
            </div>
            <div class="form-group">
                <label th:for="password">Password</label>
                <input type="password" class="form-control" th:field="*{password}" />
                   <span th:errors="*{password}" class="error"></span>         
            </div>
            <input type="submit" value="Login" />      
        </form>
        
    </body>
</html>
